#secondSection {
	margin: 0 140px 96px;
	width: 1160px;
	height: 533px;
	display: flex;
	align-items: flex-end;
}

#secondSection img[alt="manEating"] {
	width: 564px;
	height: 533px;
}

#secondSection-1 {
	margin: 0 0 40px 131px;
}

#secondSection-1 h2 {
	margin-bottom: 35px;
	font-size: var(--HeadingL);
	letter-spacing: -0.05em;
}