#firstSection {
	margin: 1px 0 65px 24px;
	height: 737px;
}
 
#firstSection-1 {
	width: 978px;
	height: 100%;
	background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
	border-radius: 0px 0px 35px 35px;
}
 
#firstSection-1 img {
	margin: 75px 0 127px 116px;
}
 
 
#firstSection-1-1 {
	margin-left: 116px;
	width: 564px;
	display: flex;
	flex-direction: column;
	gap: 35px;
}
 
#firstSection-1-1 h1 {
	font-size: var(--HeadingXL);
	letter-spacing: -0.05em;
}

#firstSection-1-1 p {
	width: 465px;
	height: 96px;
}
 
#firstSection-2 {
	background-color: var(--PureWhite);
	position: absolute;
	width: 564px;
	min-height: 448px;
	left: 736px;
	top: 181px;
	padding: 32px;
	gap: 32px;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	box-shadow: 16px 32px 56px 0px hsla(211, 40%, 69%, 0.25);
}
 
#firstSection-2 h3 {
	font-size: var(--HeadingM);
	letter-spacing: -0.05em;
}
 
#firstSection-2-1 {
	display: flex;
	gap: 24px;
	padding: 0;
}
 
.firstSectionRadio {
	flex-grow: 1;
	flex-basis: 20px;
	display: flex;
	gap: 18px;
	margin-top: 1px;
}

.firstSectionRadio input[type="radio"] {
	appearance: none;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	position: relative;
	top: -3.3px;
	border: 1px solid #D8E2E7;
	cursor: pointer;
}

.firstSectionRadio input[type="radio"]:hover {
	border: 1px solid var(--Blue);
}

.firstSectionRadio input[type="radio"]:checked {
	width: 15px;
	height: 15px;
	background: var(--Blue);
	top: 4px;
	border: 1px solid var(--Blue);
	box-shadow: 0px 0px 0px 8px #e1e7fe;
	margin: 0 6.5px 0 9.5px;
}

.firstSectionRadio label {
	font-family: var(--SemiBold);
	color: var(--Gunmetal);
}