@font-face {
	font-family: 'Inter';
	src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

@font-face {
	font-family: 'InterRegular';
	src: url(./assets/fonts/static/Inter-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'InterSemiBold';
	src: url(./assets/fonts/static/Inter-SemiBold.ttf) format('truetype');
}